/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */



 .card{
     padding: 0px !important;
     max-width: 100% !important;
 }

 .wp-core-ui select {
    font-size: 16px !important;
    max-width: 100% !important;
 }

 .wp-person a:focus .gravatar, a:focus, a:focus .media-icon img{
    box-shadow: none !important;
 }

 